.button-panel {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: #121212;
  color: #E0E0E0;
  width: 100%;
  margin-bottom: 20px; /* Add some space between the buttons and the content */
}

.button-group {
  display: flex;
  flex-wrap: wrap; /* Allow buttons to wrap */
  justify-content: flex-start; /* Align buttons to the start */
  align-items: center;
  gap: 10px; /* Add some space between buttons */
  height: auto; /* Allow height to adjust based on content */
}

.panel-button {
  background: #343434;
  color: #E0E0E0;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.panel-button:hover {
  background: #BB86FC;
}

.clipboard-panel-container,
.json-panel-container,
.search-panel-container {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-top: 20px;
}